Package: plurios-grub-theme-oit
Version: 0.0.2
Priority: optional
Section: misc
Architecture: amd64
Depends: grub-common
Maintainer: PluriOS Team
Installed-Size: 788
Description: Tema simple para Grub de PluriOS
  Fork del tema "virtual_future_grub_theme"
  repositorio actual RomjanHossain/Grub-Themes.
